<p-growl [(value)]="messages"></p-growl>

<p-organizationChart [value]="data" 
                     selectionMode="single" 
                     [(selection)]="selectedNode" 
                     (onNodeSelect)="onNodeSelect($event)"
                     styleClass="company">
    <ng-template let-node pTemplate="person">
        <div class="node-header ui-corner-top">{{node.label}}</div>
        <div class="node-content">
            <img src="//raw.githubusercontent.com/primefaces/primeng/master/src/assets/showcase/images/demo/organization/{{node.data.avatar}}" width="32">
            <div>{{node.data.name}}</div>
        </div>
    </ng-template>
    <ng-template let-node pTemplate="department">
        {{node.label}}
    </ng-template>
</p-organizationChart>