<div class="p-grid">
  <div class="p-col-12">
    <sample-menubar></sample-menubar>
  </div>
</div>
<div class="p-grid">
  <div [ngClass]="cssClass">
    <p-panel header="Bar chart sample">
      <sample-bar-chart></sample-bar-chart>    
    </p-panel>
  </div>
  <div [ngClass]="cssClass">
    <p-panel header="Line chart sample (including toast on click)">
      <sample-line-chart></sample-line-chart>    
    </p-panel>
  </div>
  <div [ngClass]="cssClass">
    <p-panel header="Pie chart sample">
      <sample-pie-chart></sample-pie-chart>    
    </p-panel>
  </div>
  <div [ngClass]="cssClass">
    <p-panel header="Doughnut chart sample">
      <sample-doughnut-chart></sample-doughnut-chart>    
    </p-panel>
  </div>
  <div [ngClass]="cssClass">
    <p-panel header="Radar chart sample">
      <sample-radar-chart></sample-radar-chart>    
    </p-panel>
  </div>
  <div [ngClass]="cssClass">
    <p-panel header="Polar area chart sample">
      <sample-polar-area-chart></sample-polar-area-chart>    
    </p-panel>
  </div>
  <div class="p-col-12">
    <sample-table></sample-table>    
  </div>
</div>